extends layout 

block content 
	form(method='POST' action='/login')
		h1= title
		p Don't have an account? 
			a(href="sign-up") Sign up
		.form-login
			label(for="username") Username:
			input(type='text', name="username" required='true' maxLength='15')
		.form-login 
			label(for='password') Password: 
			input(type='password', name="password" required='true')
		button(type='submit') Login
	
	if errors
		ul 
			for error in errors 
				li!= error.msg