extends layout 

block content 
	form(action='/create-message' method='POST')
		h2= title
		.form-login
			label(for="messageTitle") Title:
			input(type='text', name="messageTitle" required='true' maxLength='25')
		.form-login 
			label(for='messageText') Message: 
			input(type='text', name="messageText" required='true')
		button(type='submit') Post