extends layout 

block content 
	form(method='POST' action='/create-message')
		h1= title
		.form-login
			label(for="title") Title:
			input(type='text', name="title" required='true' maxLength='15')
		.form-login 
			label(for='text') Message: 
			input(type='textarea', name="text" required='true' rows="4" cols="50")
		button(type='submit') Post